html body {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif; }
  html body .row {
    margin-left: 0;
    margin-right: 0; }

body header .logo-contact {
  text-align: center; }
  body header .logo-contact .items {
    background-color: #FFFFFF; }
    @media (min-width: 1025px) {
      body header .logo-contact .items .item1 {
        padding-right: 15%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body header .logo-contact .items .item1 {
        padding-right: 15%; } }
    body header .logo-contact .items .item3 {
      margin-top: 13px; }
      @media (min-width: 1025px) {
        body header .logo-contact .items .item3 {
          padding-left: 15%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body header .logo-contact .items .item3 {
          padding-left: 15%; } }
      body header .logo-contact .items .item3 i {
        position: absolute;
        left: 48%;
        top: 23%;
        font-size: 16px;
        -webkit-transform: rotate(90deg);
        color: #006EAF; }
        @media (max-width: 667px) {
          body header .logo-contact .items .item3 i {
            top: 46px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body header .logo-contact .items .item3 i {
            left: 28%; } }
      body header .logo-contact .items .item3 p {
        font-size: 26px;
        color: #828282;
        font-weight: bold; }

body main .headboard {
  background-image: url("../../assets/images/Portada.jpg");
  background-size: cover; }
  @media (max-width: 667px) {
    body main .headboard .team-img {
      width: 100%;
      position: absolute;
      top: 256px; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .headboard .team-img {
      width: 50%;
      margin-top: -138px; } }
  @media (min-width: 1025px) {
    body main .headboard .team-img {
      margin-top: -269px;
      margin-left: 8%;
      width: 38%; } }
  body main .headboard .form-description {
    margin-left: 0;
    margin-right: 0;
    padding-top: 4%;
    height: 565px; }
    @media (max-width: 667px) {
      body main .headboard .form-description {
        padding-top: 60%;
        margin-top: 56px;
        padding-bottom: 13%;
        height: auto; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .headboard .form-description {
        padding-top: 10%;
        height: 536px; } }
    body main .headboard .form-description .description {
      color: #FFFFFF; }
      @media (max-width: 667px) {
        body main .headboard .form-description .description {
          text-align: center;
          margin-top: 60px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .headboard .form-description .description {
          padding-left: 5%; } }
      @media (min-width: 1025px) {
        body main .headboard .form-description .description {
          padding-left: 11%; } }
      body main .headboard .form-description .description h1 {
        line-height: 1;
        font-size: 37px;
        font-weight: bold; }
        @media (max-width: 667px) {
          body main .headboard .form-description .description h1 {
            font-size: 27px; } }
      body main .headboard .form-description .description p {
        font-size: 28px;
        margin-bottom: 0; }
    body main .headboard .form-description ul {
      text-align: left;
      margin-top: 30px; }
      body main .headboard .form-description ul li {
        font-size: 21px; }
        body main .headboard .form-description ul li i {
          color: #FFFFFF; }
    body main .headboard .form-description img {
      float: left;
      margin-top: 17px; }
      @media (max-width: 667px) {
        body main .headboard .form-description img {
          float: none; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .headboard .form-description img {
          margin-top: 9px; } }
  body main .headboard .form .item {
    background-color: #FFFFFF;
    text-align: center;
    width: 62%;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 5%;
    padding-bottom: 8%;
    border-radius: 15px;
    -webkit-box-shadow: 0px 7px 17px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 17px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 17px -6px rgba(0, 0, 0, 0.75); }
    @media (max-width: 667px) {
      body main .headboard .form .item {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 15%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .headboard .form .item {
        width: 90%; } }
    @media (min-width: 1025px) {
      body main .headboard .form .item {
        margin-left: 15%; } }
    @media screen and (min-width: 1900px) {
      body main .headboard .form .item {
        margin-top: 120px; } }
    body main .headboard .form .item h2 {
      color: #006EAF;
      font-weight: bold;
      font-size: 42px;
      font-family: 'Roboto', sans-serif; }
    body main .headboard .form .item i {
      color: #006EAF;
      font-size: 50px; }
    body main .headboard .form .item form input {
      display: block;
      width: 100%;
      height: 62px;
      margin-bottom: 9px;
      border-radius: 6px;
      border: solid 1px #A7A7A7;
      padding-left: 3%; }
    body main .headboard .form .item form ::placeholder {
      color: #A7A7A7;
      font-weight: bold; }
    body main .headboard .form .item form .btn {
      width: 100%;
      background-color: #ED2B10;
      height: 60px;
      margin-top: 26px;
      border-radius: 6px;
      border: solid 1px #ED2B10;
      color: #FFFFFF;
      font-size: 18px;
      font-weight: bold;
      transition: 1s;
      -webkit-box-shadow: 0px 6px 26px -7px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 6px 26px -7px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 6px 26px -7px rgba(0, 0, 0, 0.75); }
      @media (max-width: 667px) {
        body main .headboard .form .item form .btn {
          font-size: 17px; } }
    body main .headboard .form .item form .btn:hover {
      border: solid 1px #ED2B10;
      background-color: transparent;
      color: #ED2B10; }
    body main .headboard .form .item img {
      float: left;
      margin-top: 14px; }
    body main .headboard .form .item p {
      color: #828282;
      line-height: 1.2;
      margin-bottom: 0; }
      @media (max-width: 667px) {
        body main .headboard .form .item p {
          font-size: 23px;
          margin-top: 8px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .headboard .form .item p {
          font-size: 25px; } }
      @media (min-width: 1025px) {
        body main .headboard .form .item p {
          font-size: 26px; } }

body main .block-3-items {
  background-image: url("../../assets/images/Fondo-Items.jpg");
  background-size: cover;
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: center; }
  @media (max-width: 667px) {
    body main .block-3-items {
      padding-top: 20%; } }
  body main .block-3-items h2 {
    font-size: 54px;
    color: #006EAF;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 667px) {
      body main .block-3-items h2 {
        font-size: 40px; } }
  body main .block-3-items .items {
    margin-top: 100px;
    padding-left: 9%;
    padding-right: 9%; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-3-items .items {
        padding-left: 4%;
        padding-right: 4%; } }
    body main .block-3-items .items .item p {
      color: #828282;
      margin-top: 22px;
      font-weight: bold;
      font-size: 20px; }
    @media (max-width: 667px) {
      body main .block-3-items .items .item {
        margin-bottom: 50px; } }
  body main .block-3-items .btn {
    background-color: #ED2B10;
    color: #FFFFFF;
    font-weight: bold;
    width: 20%;
    height: 50px;
    border-radius: 6px;
    margin-top: 100px;
    font-size: 25px;
    transition: 1s;
    border: solid 1px #ED2B10; }
    @media (max-width: 667px) {
      body main .block-3-items .btn {
        width: 60%;
        margin-top: 20px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-3-items .btn {
        width: 39%;
        margin-top: 36px; } }
  body main .block-3-items .btn:hover {
    background-color: #FFFFFF;
    color: #ED2B10; }
  body main .block-3-items .line {
    text-align: right; }
    @media (max-width: 667px) {
      body main .block-3-items .line img {
        width: 100%;
        margin-top: 45px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-3-items .line img {
        margin-top: 35px; } }

body main .block-1,
body main .block-2 {
  padding-top: 5%;
  padding-bottom: 5%; }

body main .block-1 {
  padding-bottom: 10%; }
  @media (max-width: 667px) {
    body main .block-1 {
      padding-top: 30%; } }
  @media (max-width: 667px) {
    body main .block-1 h2 {
      font-size: 25px; } }

body main .block-2 {
  background-color: #032233; }
  body main .block-2 .mas {
    margin-top: -161px; }
    @media (max-width: 667px) {
      body main .block-2 .mas {
        margin-top: -59px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-2 .mas {
        margin-top: -102px; } }
  body main .block-2 .items .item p {
    color: #FFFFFF; }
  @media (max-width: 667px) {
    body main .block-2 .btn {
      width: 73%;
      margin-bottom: 30px; } }

body main .col-column {
  background-image: url("../../assets/images/Fondo-Columna.jpg");
  background-size: cover;
  color: #006EAF;
  padding-top: 5%;
  padding-bottom: 5%; }
  @media (max-width: 667px) {
    body main .col-column {
      padding-top: 10%; } }
  body main .col-column .items .item-1 {
    padding-right: 0; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .col-column .items .item-1 img {
        width: 160%;
        margin-left: -60%; } }
    @media (min-width: 1025px) {
      body main .col-column .items .item-1 img {
        width: 122%;
        margin-left: -22%; } }
  body main .col-column .items .item-2 {
    text-align: left;
    padding-left: 9%;
    padding-right: 5%; }
    body main .col-column .items .item-2 p {
      margin-bottom: 0;
      font-size: 34px; }
      @media (max-width: 667px) {
        body main .col-column .items .item-2 p {
          font-size: 18px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .col-column .items .item-2 p {
          font-size: 26px; } }
    body main .col-column .items .item-2 h2 {
      font-size: 44px;
      font-weight: bold; }
      body main .col-column .items .item-2 h2 strong {
        font-family: 'Roboto', sans-serif; }
      @media (max-width: 667px) {
        body main .col-column .items .item-2 h2 {
          font-size: 21px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .col-column .items .item-2 h2 {
          font-size: 28px; } }
    body main .col-column .items .item-2 .btn {
      background-color: transparent;
      color: #BA171E;
      border: solid 1px #BA171E;
      transition: 1s;
      font-weight: bold;
      margin-top: 20px; }
      @media (max-width: 667px) {
        body main .col-column .items .item-2 .btn {
          margin-bottom: 30px; } }
    body main .col-column .items .item-2 .btn:hover {
      background-color: #BA171E;
      color: #FFFFFF; }

body main .colum {
  background-image: url("../../assets/images/Fondo-Columna-2.jpg"); }
  body main .colum .items .item-2 {
    text-align: center;
    padding-left: 28%;
    padding-right: 28%; }
    @media (max-width: 667px) {
      body main .colum .items .item-2 {
        padding-left: 9%;
        padding-right: 9%; } }
    @media screen and (min-width: 1900px) {
      body main .colum .items .item-2 {
        padding-left: 36%;
        padding-right: 36%; } }
    body main .colum .items .item-2 h2 {
      font-size: 33px;
      font-weight: normal; }
      body main .colum .items .item-2 h2 strong {
        font-size: 53px; }
    body main .colum .items .item-2 .btn {
      background-color: #ED2B10;
      color: #FFFFFF;
      font-weight: bold;
      border-radius: 8px;
      font-size: 25px; }
    body main .colum .items .item-2 .btn:hover {
      background-color: #FFFFFF;
      color: #ED2B10; }

body main .colum-2 {
  background-image: none; }
  body main .colum-2 .item-2 h2 {
    font-family: 'Roboto', sans-serif; }
  body main .colum-2 .btn {
    font-size: 27px;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 667px) {
      body main .colum-2 .btn {
        font-size: 20px; } }

body main .team {
  background: linear-gradient(to top, #006EAF 0%, #002856 100%);
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: #FFFFFF; }
  @media (max-width: 667px) {
    body main .team {
      padding-top: 25%;
      padding-bottom: 20%; } }
  body main .team h2 {
    font-size: 21px;
    padding-left: 18%;
    padding-right: 18%; }
    @media (min-width: 1025px) {
      body main .team h2 {
        padding-left: 31%;
        padding-right: 31%; } }
    @media screen and (min-width: 1900px) {
      body main .team h2 {
        padding-left: 37%;
        padding-right: 37%; } }
    body main .team h2 strong {
      font-size: 50px; }
      @media (max-width: 667px) {
        body main .team h2 strong {
          font-size: 28px; } }
  body main .team .items {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 100px; }
    @media (max-width: 667px) {
      body main .team .items .item {
        margin-bottom: 60px; } }
    body main .team .items .item img {
      width: 100%; }
      @media (max-width: 667px) {
        body main .team .items .item img {
          width: 50%; } }
    body main .team .items .item p {
      margin-top: 20px;
      font-weight: bold; }
    body main .team .items .item p.name {
      font-size: 29px;
      margin-bottom: 0; }
    body main .team .items .item span {
      font-size: 13px;
      font-weight: bold; }
    body main .team .items .item p.prof {
      font-size: 14px; }

body main .block-services {
  background-color: #EFEFEF; }
  @media (max-width: 667px) {
    body main .block-services {
      padding-bottom: 20%; } }
  body main .block-services .image-description {
    margin-right: 0; }
    body main .block-services .image-description .image {
      padding-left: 0; }
      @media (max-width: 667px) {
        body main .block-services .image-description .image img {
          width: 104%; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .block-services .image-description .image img {
          width: 113%; } }
      @media screen and (min-width: 1900px) {
        body main .block-services .image-description .image img {
          width: 100%; } }
  @media (max-width: 667px) {
    body main .block-services .description {
      margin-top: 69px;
      padding-left: 9%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .block-services .description {
      margin-top: 60px; } }
  @media (min-width: 1025px) {
    body main .block-services .description {
      margin-top: 174px; } }
  body main .block-services .description p {
    line-height: 1;
    color: #006EAF;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
    @media (max-width: 667px) {
      body main .block-services .description p {
        font-size: 35px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-services .description p {
        font-size: 34px;
        margin-left: 7%; } }
    @media (min-width: 1025px) {
      body main .block-services .description p {
        font-size: 44px; } }
  body main .block-services .description span {
    color: #006EAF;
    font-size: 30px;
    font-weight: bold; }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .block-services .description span {
        margin-left: 7%; } }
  body main .block-services .description ul {
    margin-top: 25px; }
    @media (max-width: 667px) {
      body main .block-services .description ul {
        margin-left: 0; } }
    @media (min-width: 1025px) {
      body main .block-services .description ul {
        margin-left: 0; } }
    body main .block-services .description ul li {
      color: #828282;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 12px; }
      body main .block-services .description ul li img {
        margin-right: 1%; }

body main .testimonial-slider2 {
  background-image: url("../../assets/images/Fondo-Items.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  color: #FFFFFF; }
  body main .testimonial-slider2 hr {
    width: 80%;
    background-color: #828282;
    height: 2px; }
  body main .testimonial-slider2 article.title {
    padding-left: 29%;
    padding-right: 29%;
    margin-top: -61px; }
    @media (max-width: 667px) {
      body main .testimonial-slider2 article.title {
        padding-left: 18%;
        padding-right: 18%;
        margin-top: -45px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .testimonial-slider2 article.title {
        padding-left: 20%;
        padding-right: 20%; } }
    body main .testimonial-slider2 article.title span {
      color: #828282; }
    body main .testimonial-slider2 article.title h2 {
      color: #006EAF;
      font-size: 45px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      background-color: #FFFFFF; }
      @media (max-width: 667px) {
        body main .testimonial-slider2 article.title h2 {
          font-size: 20px; } }
  @media (max-width: 667px) {
    body main .testimonial-slider2 {
      padding-top: 20%;
      padding-bottom: 20%; } }
  body main .testimonial-slider2 .group {
    margin-top: 190px;
    padding-left: 8%;
    padding-right: 8%; }
    @media (max-width: 667px) {
      body main .testimonial-slider2 .group {
        margin-top: 100px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .testimonial-slider2 .group {
        padding-left: 2%;
        padding-right: 2%; } }
    @media (max-width: 667px) {
      body main .testimonial-slider2 .group .col-sm-4:nth-child(1),
      body main .testimonial-slider2 .group .col-sm-4:nth-child(2) {
        margin-bottom: 100px; } }
    body main .testimonial-slider2 .group .item {
      border: solid 1px;
      border-radius: 20px;
      background-color: #006EAF; }
      body main .testimonial-slider2 .group .item .profile {
        margin-top: -59px; }
      body main .testimonial-slider2 .group .item article {
        padding-bottom: 7%; }
        body main .testimonial-slider2 .group .item article p {
          padding-left: 16%;
          padding-right: 16%; }
        body main .testimonial-slider2 .group .item article hr {
          background-color: #FFFFFF;
          width: 40%;
          margin-top: 40px; }
        body main .testimonial-slider2 .group .item article h2 {
          font-size: 24px;
          font-weight: bold;
          margin-bottom: -5px; }
        body main .testimonial-slider2 .group .item article span {
          font-size: 13px; }
  body main .testimonial-slider2 .carousel-indicators {
    bottom: -55px; }
    body main .testimonial-slider2 .carousel-indicators li {
      background-color: #AB9979;
      width: 7px;
      height: 7px;
      border-radius: 15px;
      margin-right: 2%; }
    body main .testimonial-slider2 .carousel-indicators li.active {
      background-color: #032233; }
  body main .testimonial-slider2 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23006EAF' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  body main .testimonial-slider2 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23006EAF' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  body main .testimonial-slider2 .carousel-control-next,
  body main .testimonial-slider2 .carousel-control-prev {
    top: 200px; }
    @media (max-width: 667px) {
      body main .testimonial-slider2 .carousel-control-next,
      body main .testimonial-slider2 .carousel-control-prev {
        display: none; } }

body main .video {
  text-align: center;
  padding-bottom: 10%;
  background-image: url("../../assets/images/Fondo-Items-2.jpg");
  background-size: cover; }
  body main .video .row .item iframe {
    width: 82%;
    height: 608px; }
    @media (max-width: 667px) {
      body main .video .row .item iframe {
        height: 136px; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body main .video .row .item iframe {
        height: 340px; } }
  body main .video .row .btn {
    background-color: #ED2B10;
    color: #FFFFFF;
    border: solid 1px #ED2B10;
    font-weight: bold;
    font-size: 19px;
    margin-top: 45px;
    transition: 1s; }
  body main .video .row .btn:hover {
    background-color: #FFFFFF;
    color: #ED2B10; }

body main .alliance {
  background-image: url("../../assets/images/Fondo-Alianza.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center; }
  @media (max-width: 667px) {
    body main .alliance {
      padding-top: 20%;
      padding-bottom: 20%; } }
  body main .alliance h2 {
    font-size: 58px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 667px) {
      body main .alliance h2 {
        font-size: 40px; } }
  body main .alliance .items {
    margin-top: 150px; }
    @media (max-width: 667px) {
      body main .alliance .items {
        margin-top: 50px; } }
    body main .alliance .items .item-1 {
      text-align: right; }
      @media (max-width: 667px) {
        body main .alliance .items .item-1 {
          text-align: center; } }
    body main .alliance .items .item-2 article {
      display: flex;
      margin-bottom: 40px; }
      @media (max-width: 667px) {
        body main .alliance .items .item-2 article {
          display: block;
          margin-top: 50px; } }
      body main .alliance .items .item-2 article h3 {
        padding-left: 2%;
        padding-top: 2%;
        padding-right: 2%;
        padding-bottom: 2%;
        border-radius: 48px;
        font-size: 20px;
        width: 17%;
        font-weight: bold; }
        @media (max-width: 667px) {
          body main .alliance .items .item-2 article h3 {
            width: 100%; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .alliance .items .item-2 article h3 {
            width: 30%; } }
      body main .alliance .items .item-2 article ul {
        padding-top: 2%;
        padding-right: 3%;
        padding-left: 3%;
        border-radius: 48px;
        margin-left: 3%; }
        body main .alliance .items .item-2 article ul li {
          display: inline; }
    body main .alliance .items .item-2 .group-1 h3,
    body main .alliance .items .item-2 .group-1 ul {
      background-color: #FFB300; }
    body main .alliance .items .item-2 .group-1 ul {
      width: 60%;
      padding-top: 1.4%; }
      @media (max-width: 667px) {
        body main .alliance .items .item-2 .group-1 ul {
          width: 93%;
          padding-top: 4%;
          padding-bottom: 4%;
          border-radius: 23px; } }
    body main .alliance .items .item-2 .group-2 h3 {
      background-color: #FF4810; }
    body main .alliance .items .item-2 .group-2 ul {
      padding-left: 0;
      text-align: left;
      width: 54%; }
      @media (max-width: 667px) {
        body main .alliance .items .item-2 .group-2 ul {
          width: 100%;
          line-height: 4; } }
      body main .alliance .items .item-2 .group-2 ul li {
        background-color: #FF4810;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 7%;
        padding-right: 7%;
        border-radius: 48px; }
    body main .alliance .items .item-2 .group-3 h3 {
      background-color: #FF1200; }
    body main .alliance .items .item-2 .group-3 ul {
      padding-left: 0;
      text-align: left;
      width: 68%; }
      @media (max-width: 667px) {
        body main .alliance .items .item-2 .group-3 ul {
          width: 97%;
          line-height: 3; } }
      body main .alliance .items .item-2 .group-3 ul li {
        background-color: #FF1200;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 7%;
        padding-right: 7%;
        border-radius: 48px; }

body main .steps {
  text-align: center;
  padding-top: 10%;
  background-image: url("../../assets/images/Fondo-Pasos.jpg");
  background-size: cover;
  color: #FFFFFF;
  height: 770px; }
  @media (max-width: 667px) {
    body main .steps {
      height: auto;
      padding-bottom: 20%; } }
  @media (min-width: 668px) and (max-width: 1024px) {
    body main .steps {
      height: 715px; } }
  body main .steps h2 {
    font-weight: bold;
    font-size: 58px;
    font-family: 'Roboto', sans-serif; }
    @media (max-width: 667px) {
      body main .steps h2 {
        margin-top: 40px;
        font-size: 29px; } }
  body main .steps .subtitle {
    font-size: 24px;
    font-weight: bold; }
  body main .steps .items {
    margin-top: 100px;
    padding-left: 10%;
    padding-right: 10%; }
    body main .steps .items hr {
      background: linear-gradient(to right, #BA8343 0%, #DBAC4A 100%);
      width: 60%;
      position: absolute;
      margin-top: 53px;
      margin-left: 10%;
      border: dashed; }
      @media (max-width: 667px) {
        body main .steps .items hr {
          display: none; } }
      @media screen and (min-width: 1900px) {
        body main .steps .items hr {
          width: 58%; } }
    @media (max-width: 667px) {
      body main .steps .items .item {
        margin-bottom: 44px; } }
    body main .steps .items .item .num {
      width: 108px;
      height: 108px;
      background-color: #FFFFFF;
      border-radius: 53px;
      margin-bottom: 13px;
      padding-top: 4%;
      margin-left: 25%; }
      @media (max-width: 667px) {
        body main .steps .items .item .num {
          margin-left: 30%; } }
      @media (min-width: 1025px) {
        body main .steps .items .item .num {
          margin-left: 33%; } }
      @media screen and (min-width: 1900px) {
        body main .steps .items .item .num {
          margin-left: 38%; } }
      body main .steps .items .item .num span {
        font-size: 55px;
        color: #BA171E; }
    body main .steps .items .item p {
      font-size: 20px;
      font-weight: bold; }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .steps .items .item p {
          font-size: 19px; } }
  body main .steps .btn {
    margin-top: 200px;
    background-color: #ED2B10;
    color: #FFFFFF;
    font-size: 23px;
    font-weight: bold;
    border-radius: 10px;
    transition: 1s; }
    @media (max-width: 667px) {
      body main .steps .btn {
        margin-top: 0; } }
  body main .steps .btn:hover {
    background-color: #FFFFFF;
    color: #ED2B10; }

body main .accordion {
  background-color: #EFEFEF;
  padding-top: 10%;
  padding-bottom: 10%; }
  @media (max-width: 667px) {
    body main .accordion {
      padding-top: 20%;
      padding-bottom: 20%; } }
  body main .accordion article {
    text-align: center;
    color: #006EAF; }
    body main .accordion article span {
      font-size: 30px;
      font-weight: bold; }
    body main .accordion article h2 {
      color: #006EAF;
      font-size: 60px;
      margin-bottom: 100px;
      font-weight: bold;
      font-family: 'Roboto', sans-serif; }
      @media (max-width: 667px) {
        body main .accordion article h2 {
          font-size: 48px; } }
  body main .accordion #accordion {
    padding-left: 14%;
    padding-right: 14%; }
    body main .accordion #accordion .card {
      margin-bottom: 35px;
      border-radius: 10px;
      background-color: #006EAF; }
      body main .accordion #accordion .card .card-header {
        border-bottom: 1px solid #EFEFEF; }
      body main .accordion #accordion .card .mb-0 {
        text-align: right; }
        @media (max-width: 667px) {
          body main .accordion #accordion .card .mb-0 {
            text-align: left; } }
        @media (max-width: 667px) {
          body main .accordion #accordion .card .mb-0 .btn {
            padding-left: 43%;
            padding-right: 43%; } }
        body main .accordion #accordion .card .mb-0 .btn i {
          font-size: 31px;
          color: #FFFFFF; }
        body main .accordion #accordion .card .mb-0 span {
          font-size: 21px;
          margin-right: 57%; }
          @media (max-width: 667px) {
            body main .accordion #accordion .card .mb-0 span {
              font-size: 20px;
              margin-right: 0; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .accordion #accordion .card .mb-0 span {
              font-size: 19px;
              margin-right: 30%; } }
        body main .accordion #accordion .card .mb-0 .text3 {
          margin-right: 31%; }
          @media (max-width: 667px) {
            body main .accordion #accordion .card .mb-0 .text3 {
              margin-right: 0; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .accordion #accordion .card .mb-0 .text3 {
              margin-right: -2%; } }
        body main .accordion #accordion .card .mb-0 .text4 {
          margin-right: 67%; }
          @media (max-width: 667px) {
            body main .accordion #accordion .card .mb-0 .text4 {
              margin-right: 0; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .accordion #accordion .card .mb-0 .text4 {
              margin-right: 46%; } }
        body main .accordion #accordion .card .mb-0 .text5 {
          margin-right: 42%; }
          @media (max-width: 667px) {
            body main .accordion #accordion .card .mb-0 .text5 {
              margin-right: 0; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .accordion #accordion .card .mb-0 .text5 {
              margin-right: 8%; } }
        body main .accordion #accordion .card .mb-0 .text6 {
          margin-right: 28%; }
          @media (max-width: 667px) {
            body main .accordion #accordion .card .mb-0 .text6 {
              margin-right: 0; } }
          @media (min-width: 668px) and (max-width: 1024px) {
            body main .accordion #accordion .card .mb-0 .text6 {
              margin-right: -7%; } }

body main .whatsapp {
  background-image: url("../../assets/images/Fondo-Items.jpg");
  background-size: cover;
  padding-top: 10%;
  padding-bottom: 10%; }
  body main .whatsapp .item-1 {
    text-align: center;
    padding-top: 16%; }
    body main .whatsapp .item-1 img {
      position: absolute;
      right: 24%; }
      @media (max-width: 667px) {
        body main .whatsapp .item-1 img {
          right: 0; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .whatsapp .item-1 img {
          right: 12%; } }
    body main .whatsapp .item-1 h2 {
      font-size: 43px;
      color: #006EAF; }
      @media (max-width: 667px) {
        body main .whatsapp .item-1 h2 {
          font-size: 23px; } }
      body main .whatsapp .item-1 h2 strong {
        font-family: 'Roboto', sans-serif; }
    body main .whatsapp .item-1 .btn {
      background: linear-gradient(to right, #00A525 0%, #00CA62 100%);
      color: #FFFFFF;
      font-weight: bold;
      width: 42%;
      font-size: 27px;
      border-radius: 30px;
      margin-top: 30px;
      transition: 1s; }
      @media (max-width: 667px) {
        body main .whatsapp .item-1 .btn {
          width: 84%;
          margin-bottom: 40px; } }
      @media (min-width: 668px) and (max-width: 1024px) {
        body main .whatsapp .item-1 .btn {
          width: 60%; } }
    body main .whatsapp .item-1 .btn:hover {
      background: linear-gradient(to right, #00CA62 0%, #00A525 100%); }
  body main .whatsapp .item-2 {
    padding-right: 0; }
    body main .whatsapp .item-2 img {
      width: 100%; }

body main .formulario-final {
  background: linear-gradient(to top, #006EAF 0%, #002856 100%);
  color: #006EAF; }
  body main .formulario-final .form-description {
    margin-right: 0;
    margin-left: 0;
    padding-right: 7%;
    padding-left: 7%;
    padding-top: 8%;
    padding-bottom: 8%; }
    @media (max-width: 667px) {
      body main .formulario-final .form-description {
        padding-top: 25%;
        padding-bottom: 25%; } }
    body main .formulario-final .form-description .description {
      background-image: url("../../assets/images/fondo-form.jpg");
      background-size: cover;
      border-radius: 22px;
      padding-left: 11%;
      padding-right: 11%;
      padding-top: 9%;
      padding-bottom: 6%; }
      body main .formulario-final .form-description .description p {
        line-height: 1;
        padding-right: 10%; }
        body main .formulario-final .form-description .description p strong {
          font-family: 'Roboto', sans-serif;
          font-size: 48px; }
          @media (max-width: 667px) {
            body main .formulario-final .form-description .description p strong {
              font-size: 38px; } }
        @media (max-width: 667px) {
          body main .formulario-final .form-description .description p {
            font-size: 24px; } }
        @media (min-width: 668px) and (max-width: 1024px) {
          body main .formulario-final .form-description .description p {
            font-size: 32px; } }
        @media (min-width: 1025px) {
          body main .formulario-final .form-description .description p {
            font-size: 37px; } }
    @media (max-width: 667px) {
      body main .formulario-final .form-description .form {
        margin-top: 30px;
        padding-right: 0;
        padding-left: 0; } }
    body main .formulario-final .form-description .form form {
      background-color: #FFFFFF;
      padding-top: 13%;
      padding-left: 9%;
      padding-right: 9%;
      border-radius: 22px;
      padding-bottom: 15%;
      text-align: center; }
      body main .formulario-final .form-description .form form p {
        font-size: 30px;
        margin-bottom: 30px;
        font-weight: bold; }
        body main .formulario-final .form-description .form form p strong {
          font-family: 'Roboto', sans-serif;
          font-size: 50px; }
      body main .formulario-final .form-description .form form i {
        font-size: 50px; }
      body main .formulario-final .form-description .form form input {
        border-radius: 6px;
        margin-bottom: 17px;
        height: 50px; }
    body main .formulario-final .form-description .form .bton {
      width: 100%;
      background-color: #ED2B10;
      color: #FFFFFF;
      height: 50px;
      transition: 1s;
      font-size: 25px;
      border-radius: 6px;
      font-weight: bold; }
    body main .formulario-final .form-description .form .bton:hover {
      background-color: #FFFFFF;
      color: #ED2B10;
      border: solid 1px #ED2B10; }

body footer .items {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%; }
  @media (max-width: 667px) {
    body footer .items .item {
      margin-bottom: 30px; } }
  body footer .items .item-1 {
    border-right: 2px solid #006EAF; }
    @media (max-width: 667px) {
      body footer .items .item-1 {
        border: none; } }
    @media (max-width: 667px) {
      body footer .items .item-1 img {
        width: 100%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .items .item-1 img {
        width: 100%; } }
  body footer .items .item-2 {
    text-align: left; }
    body footer .items .item-2 span {
      color: #006EAF;
      margin-left: 4%; }
    body footer .items .item-2 ul {
      margin-top: 13px; }
      body footer .items .item-2 ul li {
        color: #828282; }
        body footer .items .item-2 ul li .fa-map-marker-alt {
          color: #F72F0E; }
        body footer .items .item-2 ul li .fa-phone-volume {
          color: #00658A; }
  body footer .items .item-3 .gmaps {
    height: 145%;
    width: 79%;
    border-radius: 15px;
    margin-top: -28px;
    -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75); }
    @media (max-width: 667px) {
      body footer .items .item-3 .gmaps {
        height: 2000%;
        width: 100%; } }
    @media (min-width: 668px) and (max-width: 1024px) {
      body footer .items .item-3 .gmaps {
        height: 129%;
        margin-left: 21%;
        margin-top: -19px; } }

body footer .Copyright {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #FFFFFF;
  background: linear-gradient(to right, #006EAF 0%, #002856 100%); }
  body footer .Copyright p {
    margin-bottom: 0; }
  @media (max-width: 667px) {
    body footer .Copyright {
      padding-top: 2%;
      padding-bottom: 2%;
      margin-top: 180px; } }
